main {
  width: 960px;
  margin: auto;
}
.roadmap-container {
  width: 960px;
  padding: 1px;
}
.topic-container {
  display: block;
  width: 880px;
  padding: 40px;
  margin: 50px auto;
  overflow: auto;
  height: 100%;
}
.topic-title {
  width: 220px;
  padding: 10px;
  margin: 20px auto;
  border: 2px solid #000;
}
.left {
  float: left;
  clear: right;
}
.right {
  float: right;
}
.subtopic {
  width: 220px;
  margin: 10px;
  padding: 20px;
}
