* {
  font-family: "PT Sans", sans-serif;
}
body {
  background-color: #02283c;
}
.colors {
  color: #c3dde9;
  color: #8ecae6;
  color: #219ebc;
  color: #02283c;
  color: #023047;
  color: #ffb703;
  color: #fb8500;
}
.nav-container {
  background-color: #023047;
}
.reference-container {
  background-color: #02283c;
}
.reference-item {
  color: #023047;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
}
.roadmap-selector {
  background-color: #ffb703;
  text-align: center;
  font-size: 150%;
}

.selected {
  background-color: #fb8500;
}
.topic-container {
  background-color: #023047;
}
.topic-title {
  color: #fff;
  font-size: 200%;
  text-align: center;
  text-transform: capitalize;
  /* border: 2px solid #000; */
  background-color: #02283c;
}

.subtopic {
  color: #023047;
  font-size: 133%;
  text-align: center;
}
.recommended {
  background-color: #ffb703;
}
.alternative {
  background-color: #219ebc;
}
.order-independent {
  background-color: #c3dde9;
}

.done {
  background-color: #fb8500;
}
.topic-done {
  background-color: #ffb703;
  color: #000;
}
